exclude .clang-format
exclude CONTRIBUTING.md
exclude Dockerfile
exclude src/pystack/*.cpp
exclude src/pystack/*.h
exclude requirements-*.txt
exclude tox.ini
exclude valgrind.supp

include pyproject.toml
include Makefile
include NEWS.rst
include README.md
include src/pystack/py.typed
include .bumpversion.cfg
include .pre-commit-config.yaml

recursive-include src/pystack/_pystack *
recursive-include src/pystack *.py
recursive-include src/pystack *.pyx *.pxd
recursive-include src/pystack *.pxd
recursive-include src/pystack *.pyi

recursive-exclude docs *
recursive-exclude news *
recursive-exclude tests *
recursive-exclude .vscode *
