name: Coverage

permissions:
  pull-requests: write

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    # At 12:00 on every day-of-month
    - cron: "0 12 */1 * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Set up dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qy \
            gdb \
            lcov \
            cmake \
            ninja-build \
            libdw-dev \
            libelf-dev \
            python3.10-dev \
            python3.10-dbg
      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip scikit-build-core nanobind
          python3 -m pip install -e . -r requirements-test.txt
      - name: Disable ptrace security restrictions
        run: |
          echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope
      - name: Compute Python coverage
        run: |
          python3 -m pytest -vvv --log-cli-level=info -s --color=yes \
                      --cov=pystack --cov=tests --cov-config=pyproject.toml --cov-report=term \
                      --cov-append tests --cov-fail-under=85
          python3 -m coverage lcov -i -o pycoverage.lcov
          genhtml *coverage.lcov --branch-coverage --output-directory pystack-coverage
      - name: Compute C++ coverage
        run: |
          rm -rf build
          CFLAGS="-O0 -pg --coverage" CXXFLAGS="-O0 -pg --coverage" SKBUILD_BUILD_DIR=build pip install -e . --no-build-isolation
          python3 -m pytest tests -v
          find build -name "*.gcda" -o -name "*.gcno" | head -5
          lcov --capture --directory build --output-file cppcoverage.lcov
          lcov --extract cppcoverage.lcov '*/src/pystack/_pystack/*' --output-file cppcoverage.lcov
      - name: Upload Python report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: pycoverage.lcov
          flags: python
      - name: Upload C++ report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: cppcoverage.lcov
          flags: cpp
