name: Lint and docs

on: [push, pull_request]

jobs:
  lint_and_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Set up dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qy libdw-dev libelf-dev
      - name: Install Python dependencies
        run: |
          python3 -m pip install -r requirements-extra.txt
      - name: Install Package
        run: |
          python3 -m pip install -e .
      - name: Lint sources
        run: |
          make lint
          python3 -m pre_commit run --all-files --hook-stage pre-push
      - name: Build docs
        run: |
          towncrier build --version 99.99 --name pystack --keep
          make docs

  publish_docs:
    name: Publish docs
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Set up dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qy libdw-dev libelf-dev pkg-config
      - name: Install Python dependencies
        run: |
          python3 -m pip install -r requirements-extra.txt
      - name: Install Package
        run: |
          python3 -m pip install -e .
      - name: Build docs
        run: |
          make docs
      - name: Publish docs to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/_build/html
          single-commit: true
